@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body,
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, "Open Sans", Arial, sans-serif;
    font-weight: 600;
}

#calendar-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#calendar-ui {
    padding: 2em;
    margin: auto;
    height: calc(100% - 4em);
}

ul {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

li {
    flex: 1 0 13%;
    border-bottom: solid 1px #ccc;
    padding: 10px 0px;
    text-align: center;
    font-weight: 600;
    position: relative;
}

.day {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#day {
    text-align: left;
}

#close {
    text-align: right;
}

#weekday li {
    border: none;
    height: 40px;
    font-size: .8em;
    padding: 0;
}

#weekday ul {
    height: 60px;
}

.off {
    color: #ccc;
}

.today,
.selectable.selected span:nth-child(1) {
    display: block;
    width: 35px;
    height: 35px;
    margin: auto;
    color: #fff;
    background-color: #3f51b5;
    border-radius: 50%;
    line-height: 35px;
    text-align: center;
}

.selectable.selected span:nth-child(1) {
    background-color: #535353
}

#date,#small-date {
    float: left;
}
#small-date{
    display: none;
}

#date-change {
    float: right;
    font-size: 1.5em;
}

#date-change i {
    margin-right: 15px;
}
#date-change i:last-of-type{
    margin-right: 0;
}

.header {
    position: relative;
    height: 33px;
    overflow: hidden;
    margin-bottom: 1em;
}

#navigation,
#back {
    position: absolute;
    width: 100%;
}

#back {
    top: 100%;
    height: 33px;
}

#calendars {
    position: relative;
    /*height: 484px;*/
    height: calc(100% - 93px);
    overflow: hidden;
}

#calendar,
#transition {
    position: absolute;
    height: 100%;
}

#schedules li {
    border: none;
}

#date-time li {
    height: 15px;
    font-size: 14px;
}

#schedules .event {
    background-color: transparent;
}

#transition {
    top: 100%;
}

.event {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #8bc34a;
    position: absolute;
    bottom: 10px;
    left: calc(50% - 5px);
}

#calendar.selected,
#navigation,
#back {
    transition: all 400ms ease-in-out;
}

#appointments {
    position: absolute;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    top: 100%;
    background-color: #f9f9f9;
    transition: all 400ms ease-in-out;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 20px;
    border-top: solid 1px #ccc;
}

#schedules {
    position: absolute;
    top: 100%;
    width: calc(100% - 4em);
    height: calc(100% - 4em);
    background-color: #fff;
    padding: 2em;
    transition: all 400ms ease-in-out;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

#schedules p {
    margin: 0;
    margin-bottom: 2em;
}

#schedules label {
    display: block;
    position: relative;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: solid 1px #ccc;
}

#schedules input,
#schedules textarea,
#schedules select {
    background-color: transparent;
    color: #222;
    border: none;
    display: block;
    font-size: 14px;
    font-weight: 400;
    height: 24px;
    line-height: 24px;
    margin: 0;
    min-width: 0%;
    outline: none;
    width: calc(100% - 10px);
    padding: 5px;

}

#schedules select {
    line-height: 1em;
    margin-bottom: 10px;
}

#schedules textarea {
    min-height: 3em;
}

.focus {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    transition: all 300ms ease;
    transform-origin: center center;
    opacity: 0;
}

label:not(:focus) .focus {
    transform: scaleX(0);
}

label:hover .focus {
    opacity: 1;
    width: 100%;
    border-bottom: 2px solid #4285f4;
    transform: scaleX(1);
}

label ul {
    background-color: transparent;
}

.title-label {
    transform: scale(.75) translateX(5px);
    transform-origin: left;
    color: #828282;
}

.schedule {
    position: relative;
    font-size: 12px;
    color: #9e9e9e;
    border-top: solid 1px #d3d3d3;
    margin: 0;
    min-height: 50px;
}

.schedule:after {
    content: "";
    display: table;
    clear: both;
}

#actions li {
    font-size: 1em;
    color: #000;
}

#actions span {
    display: block;
    color: #9e9e9e;
    margin: auto;
    font-size: 1.2em;
}

#cancel span:hover {
    color: #038de9;
}

#save span:hover {
    color: #8bc34a;
}

#delete span:hover {
    color: #e9023c;
}

.hide {
    display: none !important;
}

.time {
    display: inline-block;
    background-color: #f9f9f9;
    transform: translateY(-50%);
    padding: 0 5px;
}

.empty {
    display: block;
    min-height: 50px;
}

.content {
    float: left;
    width: calc(100% - 60px);
    margin-left: 40px;
    margin-top: -17px;
    height: calc(100% - 20px);
    background-color: #8bc34a;
    color: #fff;
    padding: 10px;

}
/* APP ALERT */
#system-alert{
    position: absolute;
    top:0;
    left: 50%;
    width: calc(90% - 20px);
    min-height: 60px;
    background-color: #222;
    color: #ccc;
    font-weight: 400;
    padding: 10px;
    border-radius: 8px;
    transform: translate(-50%,-100%);
    transition: all 350ms ease-in-out;
}
#system-alert div{
    position: absolute;
    text-align: center;
}
#system-alert-msg{
    width: calc(90% - 25px);
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#system-alert-close{
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    background-color: #535353;
    top:10px;
    right:10px;
    font-size: 10px;
}


/* ANIMATIONS */

.upcalendar {
    animation: upcalendar 500ms ease-in-out;
}

.uptransition {
    animation: uptransition 500ms ease-in-out;
}

.downcalendar {
    animation: downcalendar 500ms ease-in-out;
}

.downtransition {
    animation: downtransition 500ms ease-in-out;
}

@keyframes upcalendar {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-100%) scale(.5, .5);
    }
}

@keyframes uptransition {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-100%);
    }
}

@keyframes downcalendar {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(100%) scale(.5, .5);
    }
}

@keyframes downtransition {
    0% {
        transform: translateY(-200%);
    }

    100% {
        transform: translateY(-100%);
    }
}

/*MEDIA SIZE*/
@media(max-width:320px){
    #date{
        display: none;
    }
    #small-date{
        display: initial;
    }
}
